# general
.vscode/
.idea/
.env
desktop.ini
.DS_Store
Thumbs.db
*.bak
*~
*.log
*.swp
*.swo
temp/
tmp/

# C/C++
*.exe
*.out
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib

# Java
*.class
*.jar
*.war
.metadata/

# Kotlin / Android
.gradle/
build/
local.properties
*.apk
*.aab

# Python
tempCodeRunnerFile.py
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# JavaScript / Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MATLAB
*.asv
*.autosave
*.mex*
*.p
codegen/
*.prj
*.slx.autosave
*.slxc
slprj/
*.slxp
*.mlapp.bak
*.mlx~
profile_results/

# Embedded (Arduino/PlatformIO/Electronics)
.pio/
.pioenvs/
.piolibdeps/
TMP/
**/TMP/
SIMPLIS_Data/
**/SIMPLIS_Data/
*.xlsx
**/GS66508T-Spice-Models-V4P1/
**/GS66516T-Spice-Models-V4P1/
embedded/classes/ntut_lab/esp32_http/data/
embedded/classes/ntut_lab/esp32_http/tools/
embedded/classes/ntut_embedded_systems/assignments/mqtt/config.py

# digital twins (honestly ignoring this entire folder for now)
digital_twins/

# KiCad
.history
embedded/pcb/**/*.kicad_pcb-bak
embedded/pcb/**/*.kicad_sch-bak
embedded/pcb/**/*.kicad_prl
embedded/pcb/**/~*.lck
embedded/pcb/**/_autosave-*
embedded/pcb/**/*-save.pro
embedded/pcb/**/*-save.kicad_pcb
embedded/pcb/**/fp-info-cache
embedded/pcb/**/*-backups/
embedded/pcb/**/*.net
embedded/pcb/**/*.dsn
embedded/pcb/**/*.ses